@page "/"

<PageTitle>Azure Challenges</PageTitle>

<h1>Welcome to Azure Challenges!</h1>

<p>There are a lot of concepts and features in Azure, this site aims to explain what they are and have you create and configure services that use them as a challenge.</p>
<p>Once you feel you've completed a challenge, the site will validate that you have configured the service correctly. There will be some quiz questions too!</p>

<div class="alert alert-info mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>Ready to get started?</strong>

    <span class="text-nowrap">
        Head over to the '<a href="/resourcegroup">Resource Group</a>' section.
    </span>
</div>