@page "/"

<PageTitle>Azure Challenges</PageTitle>

<h1>Welcome to Azure Challenges!</h1>

<p>There are a lot of concepts and features in Azure, this site aims to explain what they are and have you create and configure them, whether through the portal of the command line.</p>
<p>Once you feel you've completed a challenge, click the 'Check' button and this website will validate that you have configured the service correctly. There will be some quiz questions to answer too.</p>

<h3>FAQ</h3>
<ul>
    <li style="font-weight: bold">Should I use the Azure portal or the command line for these challenges?</li>
    <li style="padding-left: 0; margin-left: 40px">It's up to you! You can use both or just one. The Portal is easier, but it can be helpful to get familiar with the AZ CLI.</li>
    
    <li style="font-weight: bold">I've made a change to the service, but the website says its still not configured correctly, what do I do?</li>
    <li style="padding-left: 0; margin-left: 40px">Firstly re-read the challenge and check your resources, potentially you selected someone's resource when configuring something instead of your own.</li>
    <li style="padding-left: 0; margin-left: 40px">But after that if you're still having issues let me know and I can help you diagnose it.</li>
    
    <li style="font-weight: bold">If I close the browser, will I lose my progress with the challenges?</li>
    <li style="padding-left: 0; margin-left: 40px">No your progress is persisted and tied to your logged-in account, so you can resume whenever and anywhere.</li>
    
    <li style="font-weight: bold">What order should I do the challenges in?</li>
    <li style="padding-left: 0; margin-left: 40px">It doesn't matter too much, but its recommended to do it in the order displayed, especially aim to do the App Services at the end.</li>
    
    <li style="font-weight: bold">Is there a penalty for getting a Quiz question wrong?</li>
    <li style="padding-left: 0; margin-left: 40px">No not at all, you can try as many times as you want!</li>
</ul>

<div class="alert alert-info mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>Ready to get started?</strong>

    <span class="text-nowrap">
        Head over to the '<a href="/resourcegroup">Resource Group</a>' section.
    </span>
</div>