@page "/resourcegroup"
@using AzureChallenges.Data
@inject ChallengeService ChallengeService;

<h3>Resource Group</h3>

@if (!string.IsNullOrWhiteSpace(_section.AzurePortalUrl))
{
    <a href="@_section.AzurePortalUrl" target="_blank">@_section.AzurePortalUrl</a>
    <hr/>
}

@if (!_section.Challenges.Any())
{
    <p>Loading...</p>
}
else
{
    <div style="max-width: 70%">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            @foreach (var challenge in _section.Challenges)
            {
                <ChallengePanel Challenge="challenge" ChallengeService="ChallengeService"/>
            }
        </div>
    </div>
}

@code {
    private Section _section = new() {Challenges = Array.Empty<Challenge>()};

    protected override async Task OnInitializedAsync()
    {
        _section = await ChallengeService.GetResourceGroupSection();
    }
}