@inherits LayoutComponentBase

<PageTitle>Azure Challenges</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @_name
            <a href="" target="_blank">GitHub repo (soon)</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private string _name;
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = await authenticationStateTask;
        _name = user.User.Identity?.Name ?? "CANT DETERMINE";
    }
}
