@using AzureChallenges.Data
@inherits LayoutComponentBase
@inject BasicChallengeService ChallengeService;

<PageTitle>Azure Challenges</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
            {
                <button class="btn btn-danger" @onclick="OnClearState">Clear state</button>
                <button class="btn btn-danger" @onclick="OnClearStateCache">Clear state cache</button>
            }
            @_name
            <a href="" target="_blank">GitHub repo (soon)</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private string _name;
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = await authenticationStateTask;
        _name = user.User.Identity?.Name ?? "CANT DETERMINE";
    }

    private async Task OnClearStateCache()
    {
        await ChallengeService.ClearStateCache();
    }

    private async Task OnClearState()
    {
        await ChallengeService.ClearState();
    }
}
